.header {
    color: blue;
    text-align: center;
}

body {
    width: 77em;
    padding: 1em;
    border: 20px solid lightblue;
}

nav {
    text-align: center;
    font-size: 2em;
    padding: 40px 0px;
    background: #ffecd2;
}

img {
    max-width: 77em;
    text-align: center;
}

