/* latin */
@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Fredoka One'), local('FredokaOne-Regular'), url(https://fonts.gstatic.com/s/fredokaone/v7/k3kUo8kEI-tA1RRcTZGmTlHGCaen8wf-.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
@font-face {
    font-family: 'Lato2';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v14/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03Sup6hNX6plRP.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
.header {
    color: black;
    text-align: center;
    font-size: 6rem;
    margin: 0.25rem;
    font-family: "Dancing Script", cursive;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: center;
}
body {
    padding: 2rem;
    border: 2rem solid lightblue;
    margin: 0rem;
}
nav {
    text-align: center;
    padding: 2rem;
    background: #ffecd2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 16rem));
    justify-content: space-evenly;
    gap: 0.5rem;
}
nav a {
    background: #8acae8;
    border: 0.8rem solid #8acae8;
    border-radius: 9px;
    color: white;
    font-size: 3rem;
    font-family: "Lato2", sans-serif;
}
img {
    max-width: 100%;
}
div {
    text-align: center;
    margin: 2rem auto;
}
.aboutme {
    margin: 2rem 0rem 7rem;
    display: grid;
    grid-template-columns: minmax(323px, 72rem);
    justify-content: center;
}
.aboutme h4 {
    margin: 3rem;
    font-size: 2rem;
    font-family: "Fredoka One", cursive;
    letter-spacing: 0.1rem;
}
.tpiolaface {
    margin: 3rem auto 0rem;
}
.tpiolaface img {
    width: 23rem;
}
footer {
    margin: auto;
}
footer p {
    font-size: 1rem;
}
.bluetarantula h1 {
    font-size: 3.5rem;
    margin: 1.5rem;
    font-family: "Fredoka One", cursive;
}
.americanstar h1 {
    font-size: 3.5rem;
    margin: 1.5rem;
    font-family: "Fredoka One", cursive;
}
.lily h1 {
    font-size: 3.5rem;
    margin: 1.5rem;
    font-family: "Fredoka One", cursive;
}
.devorah h1 {
    font-size: 3.5rem;
    margin: 1.5rem;
    font-family: "Fredoka One", cursive;
}
.starrymermaid h1 {
    font-size: 3.5rem;
    margin: 1.5rem;
    font-family: "Fredoka One", cursive;
}
.odnatamyaradtiys h1 {
    font-size: 3.5rem;
    margin: 1.5rem;
    font-family: "Fredoka One", cursive;
}
.pink h1 {
    font-size: 3.5rem;
    margin: 1.5rem;
    font-family: "Fredoka One", cursive;
}
.yellow h1 {
    font-size: 3.5rem;
    margin: 1.5rem;
    font-family: "Fredoka One", cursive;
}
.bluetarantula h2 {
    background-color: #0e153529;
    color: black;
    padding: 1rem 1.5rem;
    margin: 0rem 5rem;
    font-size: 1.7rem;
    font-family: "Lato", sans-serif;
}
.americanstar h2 {
    background-color: #0c13825c;
    color: black;
    padding: 1rem 1.5rem;
    margin: 0rem 5rem;
    font-size: 1.7rem;
    font-family: "Lato", sans-serif;
}
.lily h2 {
    background-color: #d4405452;
    color: black;
    padding: 1rem 1.5rem;
    margin: 0rem 5rem;
    font-size: 1.7rem;
    font-family: "Lato", sans-serif;
}
.devorah h2 {
    background-color: #2e727969;
    color: black;
    padding: 1rem 1.5rem;
    margin: 0rem 5rem;
    font-size: 1.7rem;
    font-family: "Lato", sans-serif;
}
.starrymermaid h2 {
    background-color: #4ca8ad73;
    color: black;
    padding: 1rem 1.5rem;
    margin: 0rem 5rem;
    font-size: 1.7rem;
    font-family: "Lato", sans-serif;
}
.odnatamyaradtiys h2 {
    background-color: #99a5aeb3;
    color: black;
    padding: 1rem 1.5rem;
    margin: 0rem 5rem;
    font-size: 1.7rem;
    font-family: "Lato", sans-serif;
}
.pink h2 {
    background-color: #f19fb675;
    color: black;
    padding: 1rem 1.5rem;
    margin: 0rem 5rem;
    font-size: 1.7rem;
    font-family: "Lato", sans-serif;
}
.yellow h2 {
    background-color: #efae3852;
    color: black;
    padding: 1rem 1.5rem;
    margin: 0rem 5rem;
    font-size: 1.7rem;
    font-family: "Lato", sans-serif;
}
.bluetarantula img {
    width: 53rem;
}
.americanstar img {
    width: 53rem;
}
.lily img {
    width: 53rem;
}
.devorah img {
    width: 53rem;
}
.odnatamyaradtiys img {
    width: 53rem;
}
.pink img {
    width: 53rem;
}
.yellow img {
    width: 53rem;
}
.socialmedia {
    margin: 0rem auto 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 30rem));
    justify-content: center;
}
.socialmedia a {
    background: #8acae8;
    border: 1rem solid #8acae8;
    border-radius: 9px;
    color: white;
    margin: 3rem;
    font-family: "Lato2", sans-serif;
    font-size: 2rem;
}
.contacttext {
    margin: 4rem 3.5rem;
    display: grid;
    grid-template-columns: minmax(323px, 65rem);
    justify-content: center;
}
.contacttext h3 {
    margin: 3rem;
    font-size: 2rem;
    font-family: "Fredoka One", cursive;
    letter-spacing: 0.1rem;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(388px, 1fr));
    gap: 5rem;
    justify-content: space-evenly;
}
