.header {
    color: black;
    text-align: center;
    font-size: 6em;
    margin: 0.25em;
}
body {
    width: 77em;
    padding: 2em;
    border: 2em solid lightblue;
    margin: 0em;
}
nav {
    text-align: center;
    font-size: 2em;
    padding: 40px 0px;
    background: #ffecd2;
}
nav a {
    background: #8acae8;
    border: 0.3em solid #8acae8;
    border-radius: 9px;
    color: white;
    margin: 1em;
}
img {
    max-width: 61em;
    max-height: 91em;
    text-align: center;
}
div {
    text-align: center;
    margin: 10em auto;
}
.bluetarantula {
    text-align: center;
    margin: 3em auto 10em;
}
footer {
    margin: 11em auto 0em;
}
footer p {
    font-size: 1em;
}
.bluetarantula h2 {
    background-color: #0e153529;
    color: black;
    padding: 1em 1.5em;
    border-radius: 0em;
    margin: 0em 5em;
    font-size: 1.97em;
}
.americanstar h2 {
    background-color: #0c13825c;
    color: black;
    padding: 1em 1.5em;
    border-radius: 0em;
    margin: 0em 5em;
    font-size: 1.97em;
}
.lily h2 {
    background-color: #d4405452;
    color: black;
    padding: 1em 1.5em;
    border-radius: 0em;
    margin: 0em 5em;
    font-size: 1.97em;
}
.devorah h2 {
    background-color: #2e727969;
    color: black;
    padding: 1em 1.5em;
    border-radius: 0em;
    margin: 0em 5em;
    font-size: 1.97em;
}
.odnatamyaradtiys h2 {
    background-color: #99a5aeb3;
    color: black;
    padding: 1em 1.5em;
    border-radius: 0em;
    margin: 0em 5em;
    font-size: 1.97em;
}
.pink h2 {
    background-color: #f19fb675;
    color: black;
    padding: 1em 1.5em;
    border-radius: 0em;
    margin: 0em 5em;
    font-size: 1.97em;
}
.yellow h2 {
    background-color: #efae3852;
    color: black;
    padding: 1em 1.5em;
    border-radius: 0em;
    margin: 0em 5em;
    font-size: 1.97em;
}
